* {
    box-sizing: border-box;
}

body {
    background: url(./BG.jpg);
    font-family: 'Poppins', sans-serif;
    min-height: 500px;
    width: 100%;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
    color: rgb(255, 238, 0);
}

.countdown_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.big_text {
    font-size: 6rem;
    line-height: 2;
    margin: 0px 2rem;
    font-weight: bold;
    text-align: center;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
    padding-top: -100px;
    color: rgb(255, 255, 255);
}

#days {
    color: rgb(255, 122, 122);
}

#hours {
    color: rgb(113, 255, 113);
}

#mins {
    color: rgb(98, 98, 255);
}

#seconds {
    color: rgb(255, 0, 0);
}